


* {
	box-sizing: border-box;
}

body {
	background-color: #242333;
	display: flex;
	flex-direction: column;
	color: white;
	align-items: center;
	justify-content: center;
	height: 100vh;
	font-family: 'Times New Roman', 'sans-serif';
}

.seat {
	background-color: #444451;
	height: 12px;
	width: 15px;
	margin: 3px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px
}

.row {
	display: flex;
}

.movie-container {
	margin: 20px 0;
}

.movie-container select {
	background-color: #fff;
	border: 0;
	border-radius: 5px;
	font-size: 14px;
	margin-left: 10px;
	padding: 5px 15px 5px 15px;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
}

.seat.Dipilih {
	background-color: #6feaf6;
}

.seat.Terisi {
	background-color: #fff;
}

.seat:nth-of-type(2) {
	margin-right: 18px;
}

.seat:nth-last-of-type(2) {
	margin-left: 18px;
}

.seat:not(.Terisi):hover{
	cursor: pointer;
	transform: scale(1,2);
}

.showcase .seat:not(.Terisi):hover {
	cursor: default;
	transform: scale(1);
}

.showcase {
	background-color: rgba(0, 0, 0, 0.1);
	padding: 5px 10px;
	border-radius: 5px;
	color: #777;
	list-style-type: none;
	display: flex;
	justify-content: space-between;
}

.showcase li {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 10px;
}

.showcase li small {
	margin-left: 10px;
}

.screen {
	background-color: #fff;
	height: 70px;
	width: 100%;
	margin: 15px 0;
	transform: rotateX(-45deg);
	box-shadow: 0 3px 10px rgba(255, 255, 255, 0.72);
}

.container {
	perspective: 1000px;
	margin-bottom: 30px;
}

p.text {
	margin: 5px 0;
}

p.text span {
	color: #6feaf6;
}